doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title FormaServe
    link(href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon')

    link(rel='stylesheet' href='/stylesheets/style.css')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0//css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery-ui.min.css')

    //- Google bits
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

    link(rel='stylesheet' href='/stylesheets/fss.css')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")

  body
    block content
